<!DOCTYPE html>
{% load bootstrap4 %}
{% load meus_filtros%}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
  <h1>Listagem de Clientes</h1>
  {# Esse bloco percorre a lista de usuários#}
  {% comment %}
      Várias
      linhas
      de comentários
      são aceitas
      dessa forma
  {% endcomment%}

  {% for cliente in object_list %}
      {% with "Programador Engenheiro Designer" as list %}
      
        {% if cliente.profissao in list %}
          {% ifchanged cliente.nome %}
              <li>{{cliente.nome|capfirst}}</li>
              <li>{{cliente.data_nascimento}}</li>
              <li>{{cliente.email|capfirst}}</li>
              {% if cliente.profissao == "Programador" %}
                <h3><li>{{cliente.profissao|remover_caracter:"o"}}</li></h3>
              {% elif cliente.profissao == "Engenheiro"%}
                <h4><li>{{cliente.profissao}}</li></h4>
              {% else %}
                <li>{{cliente.profissao}}</li>
              {% endif %}
              <li><a href={% url "lista_cliente" pk=cliente.id %}>Exibir</a></li>
              <li><a href={% url "editar_cliente" pk=cliente.id %}>Editar</a></li>
              <li><a href={% url "remover_cliente" pk=cliente.id %}>Remover</a></li>
              <hr>
          {% endifchanged %}
        {% endif %}
      {% endwith %}
    {% empty %}
        <h2>Não há clientes cadastrados</h2>
  {% endfor %}

  <li>{{3|add:"2"}}</li>
  <a href={% url "cadastrar_cliente"  %}>Cadastrar</a>
</body>
</html>