<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover Cliente</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
  <h3>Tem certesa que desaja remover o usuário <strong>{{cliente.nome}}</strong>?</h3>
    <li>{{cliente.nome}}</li>
    <li>{{cliente.data_nascimento}}</li>
    <li>{{cliente.email}}</li>
    <li>{{cliente.profissao}}</li>

    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Remover">
    </form>
</body>
</html>